<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Chat Room</title>
</head>

<body>
<h1>Let's chat!</h1>

<h2 id="username" data-username="{{ request.user.username }}">ユーザー: {{ request.user.username }}</h2>

<form id="form" class="message-form">
    <input type="text" name="message" placeholder="Enter message">
</form>

<div id="message_div"></div>

<script>
    let chatSocket;
    const usernameElement = document.getElementById('username');
    const username = usernameElement.getAttribute('data-username');

    document.addEventListener('DOMContentLoaded', function() {
        joinRoom(); // ページがロードされた瞬間に接続する
    });

    function joinRoom() {
        const url = `ws://${window.location.host}/ws/chat/`;
        chatSocket = new WebSocket(url);
        initChatSocket();
    }

    function initChatSocket() {
        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log('Data:', data);
            if (data.type === 'chat') {
                console.log('Message:', data.message);
                addMessage(data.message, data.user);
            }
        };

        document.getElementById('form').addEventListener('submit', function(e) {
            e.preventDefault();
            sendMessage();
        });
    }

    function addMessage(message, username) {
        const messagesDiv = document.getElementById(`message_div`);
        messagesDiv.insertAdjacentHTML('beforeend', `<p>${username}:${message}</p>`);
    }

    function sendMessage() {
        const form = document.getElementById('form');
        const formData = new FormData(form);
        const message = formData.get('message').trim();
        if(message){
            console.log(message);
            chatSocket.send(JSON.stringify({'message': message, 'user': username}));
            form.reset();
        }

    }
</script>
</body>
</html>