<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body>
<form method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <label for="username">ユーザー名:</label>
    <input type="text" id="username" name="username">
    <br>
    <label for="userpassword">パスワード:</label>
    <input type="password" id="userpassword" name="password">
    <br>
    <button type="submit">ログイン</button>
</form>
<a href="{% url 'signup' %}">新規アカウント作成</a>
</body>

</html>